name: CI

on:
    push:
        branches: [main]
    pull_request:
        branches: [main]

jobs:
    test:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - uses: actions/setup-python@v5
              with:
                  python-version: "3.12"
            - run: pip install uv
            - run: uv venv dcs-api
            - run: source dcs-api/bin/activate && uv sync --dev
            - run: source dcs-api/bin/activate && uv run python manage.py collectstatic --noinput
              continue-on-error: true
            - run: source dcs-api/bin/activate && uv run pytest
